<!--The content below is only a placeholder and can be replaced.-->
<div class="whole-body">
    <header>
        TODO List
    </header>
    <h3>A place to store all the things you need to do!</h3>
    <input type="text" class="user-input" placeholder="Filter your to-dos" />
    <div *ngFor="let todo of toDoComponent; index as i">
        {{i+1}}.<button class="complete">Complete</button> {{todo.task}}
    </div>
    <input type="text" class="user-input" placeholder="Add to your list" />
    <button id="add-btn" class="user-input">Add</button>
</div>



<router-outlet></router-outlet>